body{
  background-color: black;
}

 @media screen and (min-width:480px) and (max-width: 750px) {
   body{
     background-color: lightgreen;
   }
 }

.left{
  background-color: red;
  width: 50%;
}

.right{
  background-color: blue;
  width: 50%;
}

@media screen and (max-width:400px) {
  .left{
    width: 100%;
    display: none;
  }
  .right{
    width: 100%;
  }
}
